{{>header}}
<h1>Lista de Dispositivos</h1>
<table>
    <tr>
        <th>Id</th>
    </tr>
    {{#dispositivos}}
    <tr>
        <td><a href="/web/dispositivos/{{id}}">{{id}}</a></td>
        <td>{{num_serie}}</td>
        <td>{{uid_socio}}</td>
        <td>{{activo}}</td>
    </tr>
    {{/dispositivos}}
</table>
{{>footer}}