{{>header}}
<h1>Detalle Dispositivos - Identificación</h1>
<h2>{{dispositivo.id}}</h2>

<p><b>Numero de Serie Dispositivo: </b>{{dispositivo.num_serie}}</p>
<p><b>Identificación Socio: </b>{{dispositivo.uid_socio}}</p>
<p><b>Activo: </b>{{dispositivo.activo}}</p>

<!--
<h3>Ataques</h3>
<table>
    <tr>
        <th>Nombre</th>
        <th>PP</th>
    </tr>
    {{#ataques}}
    <tr>
        <td>{{name}}</td>
        <td>{{pp}}</td>
    </tr>
    {{/ataques}}
</table>-->
{{>footer}}