{{>header}}
<h1>Detalle Dispositivos - Identificación</h1>
<h2>{{dispositivos.id}}</h2>

<p><b>Numero de Serie Dispositivo: </b>{{dispositivos.numSerie}}</p>
<p><b>Identificación Socio: </b>{{dispositivos.uidSocio}}</p>
<p><b>Activo: </b>{{dispositivos.activo}}</p>


{{>footer}}