{{>header}}
<h1>Detalle Registros</h1>
<h2>{{registro.id}}</h2>

<p><b>Id de Tarjeta: </b>{{registro.id_tarjeta}}</p>
<p><b>Fecha y hora: </b>{{dispositivo.fecha_hora}}</p>
<p><b>Descripción: </b>{{dispositivo.descripcion}}</p>

<!--
<h3>Ataques</h3>
<table>
    <tr>
        <th>Nombre</th>
        <th>PP</th>
    </tr>
    {{#ataques}}
    <tr>
        <td>{{name}}</td>
        <td>{{pp}}</td>
    </tr>
    {{/ataques}}
</table>-->
{{>footer}}